*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#title img{
    margin-top: 10px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border-color: black;
}

#title{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#logo input{
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border-color: black;
    padding: 10px;
}

#logo img{
    height: 50px;
    width: 80px;
    border-radius: 20px;
}

#menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#menu img:hover {
    transform: scale(1.1);
}

#options{
    width: 13%;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.column{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.entry img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 5px;
    font-weight:900;
}

.entry label{
    margin-top: 20px;
    font-size: large;
}

.entry{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.entry:hover{
    background-color: white;
    border-radius: 5px;
}

#coloumn-1 h2{
 color: gray;
}

#coloumn-1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 700px;
    overflow-y: scroll;
    margin-left: 10px;
}

#coloumn-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 20px;
    margin-right: 20px;
}

#status-div {
    margin-top: 30px;
    background-color: white;
    width: 100%;
    border-radius: 20px;
}

#icon_div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

#maindiv {
    display: flex;
    justify-content: space-between;
}

.status{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    
}

.status img{
    width: 20%;
    height: 300px;
    border-radius: 20px;
}

.status img:hover{
    transform: scale(1.1);
}

.post{
    margin-top: 30px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
}

.stuff{
    margin-top: 10px;
    margin-bottom: 10px;
}

.stuff img{
    margin-top: 10px;
    margin-left: 60px;
    width: 80%;
    height: 300px;
}

.reaction img{
    width: 10%;
    height: 20px;
}

.reaction{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 5px;
    margin-top: 10px;
    justify-content: left;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.search-bar input[type="text"]::placeholder {
    color: #888;
}

.search-bar button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar img {
    width: 10px;
    height: 10px;
}

#con{
    margin-top: 10px;
    background-color: rgb(59, 134, 220);
    height: 50px;
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bolder;
    color: white;
    font-size: large;
}

#del{
    margin-top: 10px;
    background-color: white;
    height: 50px;
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    border: none;   
    font-weight: bolder;
    font-size: large;
}


.requests{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;   
}

.requests:hover{
    background-color: rgb(171, 166, 166);
    border-radius:10px ;
}

.requests img{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.requests label{
    font-size: larger;
    width: fit-content;
    margin-left: 5px;
    margin-right: 150px;
    font-weight: bold;
}

.req-content{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.create-post{
    margin-top: 20px;
    background-color: white;
    padding-top: 10px;
}

.options{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options img{
    height: 70px;
    width: 20%px;
}

.create-post img{
    height: 50px;
    width: 50px;

    margin-left: 10px;
    border-radius: 100%;
}

 #mind{
    display: flex;
    justify-content: center;
    /* align-items: center; */
 }

 #war{
    margin-left: 20px;
    height: 50px;
    width: 70%;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
 }

 
.create-post{
    border-radius: 20px;

}

a{
    color: rgb(13, 118, 160);
    font-size: larger;
    margin-right: 20px;
    text-decoration: none;
    display: none;
}

a:hover{
    color: blue;
}

.top{
    display: flex;
    justify-content: space-between;
}

h2:hover ~ a,
h2:hover + a {
    display: block;
}

.column:hover a {
    display: block;
}

.fixed{
    display: block;
}

@media (max-width : 1100px){
    #coloumn-1{
        display: none;
    }

    #coloumn-2{
        width: 80%;
        margin-left: 10%;
    }

    #menu{
        width: 10%;
    }

    #options{
        width: 10%;
    }

    #logo{
        width: 21%;
    }

    .search-bar{
        overflow: hidden;
    }

    .search-bar input[type="text"] {
        font-size: 10px;
    }

}

@media (max-width : 700px){
    #coloumn-1{
        display: none;
    }

    #coloumn-2{
        width: 80%;
        margin-left: 10%;
    }

    #menu{
        width:30%;
    }

    #options{
        width: 25%;
    }

    #logo{
        width: 10%;
    }

    .search-bar{
        width: 5%;
    }

    .search-bar input[type="text"] {
        display: none;
    }

    #title{
        width: 100%;
    }

    .status img{

        height: 200px;

    }
}

.stuff img{
    margin: 5px 0px 5px 0px;
    width: 100%;
}

.post-opt{
    display: flex;
}

.post-opt img{
    width: 30px;
    height: 30px;
}

.post .entry{
    margin-left: 10px;
    justify-content: space-between;
}

.post label{
    font-weight: bolder;
}

.name{
    display: flex;
}

.name-1{
    margin-top: 10px;
}

.reacted{
    margin-bottom: 10px;
    display: flex;
}

.reacted img{
    padding-left: 10px;
    padding-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.reactions{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around   ;
}

.stuff p {
    margin-left: 10px;
}

#icon_div :hover {
    transform: scale(1.1);
    transition: transform ease-in-out 0.2s;
}

.options img:hover {
    transform: scale(1.3);
    transition: transform ease-in-out 0.2s;
}

.reactions img:hover {
    transform: scale(1.3);
    transition: transform ease-in-out 0.2s;
}

.qwerty{
    margin-right: 10px;
}

.qwerty img{
    height: 30px;
    width: 40px;
}

